**/__pycache__/
.vscode
src/debug_helper.py/
src/mlruns/
src/checkpoints/
/mlruns/
src/run.sh
notebooks/data/
notebooks/*.pkl
notebooks/pkl_files/*
notebooks/_debug.log
src/tuning.sh
src/dataset_ablation.sh
src/ablation_l2.sh
notebooks/mlruns/
notebooks/gradcams/plots/*
images/ 