**/__pycache__/
.vscode
/mlruns/
images/ 
supplementary_material.pdf
notebooks/images
notebooks/data
notebooks/*.pkl
notebooks/pkl_files
notebooks/_debug.log
notebooks/mlruns
notebooks/gradcams/plots
notebooks/gradcams
notebooks/streisand
notebooks/*.jpg
notebooks/*.jpeg
notebooks/tuning_results.ipynb
src/debug_helper.py/
src/run.sh
src/tuning.sh
src/dataset_ablation.sh
src/ablation_l2.sh
src/mlruns/
src/checkpoints/
src/unlearning_methods/salun_masks/*

